div{
    width: 150px;
    height: 200px;
    background-color: black;
    margin: 10px;
}





.display-1{

    color: red;
    text-shadow: 3px 3px 2px black;
}

.break{

    height:25px;

}

.table-hover tr:hover td{
    background-color: gray
}